[Unit]
Description=Run CryptoQuiz automatic redeploy periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=cryptoquiz-auto-redeploy.service

[Install]
WantedBy=timers.target
